.comboBoxTarget {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  padding: 10px 40px 10px 10px;
  position: relative;
  &:after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    position: absolute;
    top: 11px;
    right: 17px;
    transform: rotate(-45deg);
  }
}
.textNode {
  font-size: 14px;
}
.optionLayer {
  border: 1px solid #ccc;
  position: absolute;
  background: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
.optionList {
}
.optionItem {
  padding: 10px;
  font-size: 14px;
}
